
# Intro to Pytohn

 We will use Jupyter Notebook to do in-class examples. 

## Hello, World

In [2]:
print('Hello, World!')

Hello, World!

In [3]:
print("Hello, world!")

Hello, world!

## *int* and *float*

In [4]:
x = 2

In [5]:
y = 2.5

### Calculation

- +, -, * — standard addition, subtraction, multiplication
- ** — exponentiation
- / — floating point division
- // — integer division

In [6]:
2 ** 3

8

In [7]:
5 / 2

2.5

In [8]:
5 // 2

2

In [9]:
5.0 // 2

2.0

## Assignment

In [10]:
x = 3
print(x)

y = 3 + 2.0
print(y)

3
5.0

### Dynamic variables

In [11]:
x = 3
x = 3.14
print(x)

x = 'Hello, World'
print(x)

3.14
Hello, World

### Expression

In [13]:
# addition
2 + 3

5

In [14]:
# Comparison
3 > 4

False

In [15]:
# assign an expression to a variable
x = 2 + 3

---
## Boolean

In [16]:
x = True 
y = False

### Boolean Operators

- *and*
- *or*
- *not*

![](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

**Precedence**

*not* > *and* > *or*

In [17]:
not True

False

In [18]:
True and False

False

In [19]:
True and not True

False

In [20]:
False or True and True

True

In [21]:
(False or True) and True

True

### Comparation

- ==, <, >, <=, >= compare elements by value
- *is* compare by reference (identity)

In [22]:
x = 1
y = 1
x == y

True

## Conditional Control Flow

In [23]:

x = 2
if x == 1:
    print('x is one :(')
elif x == 2:
    print('x is two :)')
else:
    print('Oh oh...')

x is two :)

The following two examples are equivalent. One implements multiple separate comparisons and the other uses Python's chained comparisons

In [24]:

'''
This compares x and y
'''
x = 2 ** 3    # 8
y = 2 * 3     # 6

if y <= 7 and x >= 7:
    print(':)')
else:
    print(':(')
    print(x, y)

:)

In [25]:

# This cell's code is equivalent to the previous one
x = 2 ** 3    # 8
y = 2 * 3     # 6

if y <= 7 <= x:
    print(':)')
else:
    print(':(')
    print(x, y)

:)

## *range*

- The python *range()* function creates a collection of numbers on the fly, like 0, 1, 2, 3, 4. 
- This is very useful, since the numbers can be used to index into collections such as string
- Built-in collection of int objects
- Constructors
    - range(stop) — from *0* to *stop-1*
    - range(start, stop) — from *start* to *stop-1*
    - range(start, stop, step) — from *start* to *stop-1* on *step*
<!-- #endregion -->

In [26]:
range(10)

range(0, 10)

In [27]:
type(range(10))

range

In [28]:
range(1, 10, 3)

range(1, 10, 3)

In [29]:
# visualize a range object using a list
list(range(1, 10, 3))

[1, 4, 7]

## Loops

The following two code cells are equivalent implementations with `while` and `for` loops.

In [30]:
i = 0 
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [31]:
# This cell's code is equivalent to the previous one  
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Python data types and data structures

Python contains several powerful built-in data structures. In today's class, we will study the most used ones, and see some examples for how to use them.

## List

- Built-in collection of objects
- Mutable: its elements can be modified
- Arbitrarily typed elements (even differently typed)
- Usually elements are of the same type
- Typically implemented as dynamic arrays (like ArrayList in Java)
- Constructors:
    - [a, b, c] — comma separated values, potentially empty
    - list(iterable) — e.g., list(range(5))
    - [x for x in iterable] — list comprehension, more later

### Construction

In [32]:
x = [1, 2, 3]
print(x)
print(type(x))

[1, 2, 3]
<class 'list'>

In [33]:
list(range(1, 4))

[1, 2, 3]

In [34]:
[x for x in range(1,4)]

[1, 2, 3]

In [35]:
[x*3 for x in range(1,4)]

[3, 6, 9]

In [36]:
y = [1, 2.5, True]

### Length of a list

In [37]:
y.__len__()

3

In [38]:
len(y)

3

### Insert and delete

In [39]:
x = [1, 2, 3]
print(x)
x.append(4) # appends to end of list
print(x)
x.remove(1)
print(x)

[1, 2, 3]
[1, 2, 3, 4]
[2, 3, 4]

In [40]:
x = [1, 2, 3, 4, 5]
del x[0:2]
x

[3, 4, 5]

In [42]:
x = [1, 2, 3]
x.remove(5)

ValueError: list.remove(x): x not in list

---
### Index

- l[i] — returns the i-th element of a, using 0-based indexing
- i must be between 0 and len(l)-1

In [ ]:
x = [2,4,6,8,10,12] 
# Python is zero indexed
x[0]

### Reverse index

- l[-i] — returns the i-th element of a list from the right, using 1-based indexing
- Intuitively means len(l)-i, hence 1-based
- i must be between 1 and len(l)

In [1]:
x = [2,4,6,8,10,12] 
x[-1]

12

In [2]:
x = [2,4,6,8,10,12] 
x[-100]

IndexError: list index out of range

### Containment by values

In [3]:
# wheter a value is an element of a list
x = [1, 2, 3, 4, 5]
print( 2 in x )
print(10 in x )

True
False

---
### Slicing

- slicing: retrieve (not necessarily contiguous) sublists
- slice notation: \[start:end:stride\]
- if any of these are not provided, python defaults to
    - start = 0
    - end = length of list
    - stride = 1

In [ ]:
x = list(range(10))
print(x)

# print everything but the first element
print(x[1:])
# print everything but the last element
print(x[:-1])
# print elements at index 2 and 3
print(x[2:4])

In [43]:
# print every other element (start at index 0, increment by  2)
print(x[::2])
# print elements in reverse (start at index 0, decrement by 1)
print(x[::-1])
# print everything
print(x[::])

[1, 3]
[3, 2, 1]
[1, 2, 3]

### Loop over a list

In [44]:

for x in ['tic', 'tac', 'toe']:
    print(x)

tic
tac
toe

## dictionary

### Construction

In [45]:
card_ranks = {}
print(card_ranks)
card_ranks = {'J': 11, 'Q': 12, 'K': 13}  
print(card_ranks)

{}
{'J': 11, 'Q': 12, 'K': 13}

In [46]:
# keys would be int/float/boolean/string
l = {}
l['name'] = 'alex'
print(l)

{'name': 'alex'}

In [47]:
l[[0, 1, 3]] = 0

TypeError: unhashable type: 'list'

### Index by keys

In [48]:
card_ranks = {'J': 11, 'Q': 12, 'K': 13}  
card_ranks['J']

11

### Insert and delete

In [49]:
card_ranks = {'J': 11, 'Q': 12, 'K': 13}  

# insert by keys
card_ranks['A'] = 14
card_ranks[10] = 10  

print(card_ranks)

{'J': 11, 'Q': 12, 'K': 13, 'A': 14, 10: 10}

In [50]:
# deletion by keys
del card_ranks[10]  
print(card_ranks)

{'J': 11, 'Q': 12, 'K': 13, 'A': 14}

### Containment

In [51]:
# key in dict
card_ranks = {'J': 11, 'Q': 12, 'K': 13}  
'J' in card_ranks

True

### Length of a dict

In [52]:
card_ranks = {'J': 11, 'Q': 12, 'K': 13}  
card_ranks.__len__()

3

In [53]:
len(card_ranks)

3

### Obtain keys and values

In [54]:
card_ranks = {'J': 11, 'Q': 12, 'K': 13}  
card_ranks.keys()

dict_keys(['J', 'Q', 'K'])

In [55]:
card_ranks.values()

dict_values([11, 12, 13])

### Loop over a dict

In [56]:

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k in knights:         # only keys
    print(k)

gallahad
robin

In [57]:

for k, v in knights.items():         # key-value pairs
    print(k, v)

gallahad the pure
robin the brave

## string

A string is an immutable lists of characters.
(There is no a type of character implicitly. A character is a string with a single literal).

A string starts and ends with single/double quotes.
They must be paired!

In [58]:
s1 = 'hello'
s2 = "world!"
print(s1, s2)

hello world!

If ' or " is needed as a raw literal, e.g. *No, it isn't.*, use the quotes 
- with a escape sign \ (backslash)
- by mixing " and '

In [59]:
s1 = 'No, it isn\'t. '
print(s1)

s2 = "No, it isn't. "
print(s2)

No, it isn't.
No, it isn't.

### string behaves like a list

In [60]:
fruit = "banana"
# same slicing operations
print(fruit[0:3:])

ban

In [61]:
# same looping operations
for c in fruit:
    print(c)

b
a
n
a
n
a

### string concatenation

- String literals are concatenated with whitespaces
- String variables are concatenated with +
- Repeat string with *

In [62]:
s1 = 'Hello' 'world!'
print(s1)

Helloworld!

In [63]:
s1 = 'Hello' + 'world!'
print(s1)

Helloworld!

In [64]:
s2 = 'abc' * 5
print(s2)

abcabcabcabcabc

### Manipulations

- split()
- join()

In [65]:
s1 = "The quick red fox jumped over the lazy brown dog"
s1.split() # the default delimiter is ' ' (a white spalce)

['The', 'quick', 'red', 'fox', 'jumped', 'over', 'the', 'lazy', 'brown', 'dog']

In [66]:
s1 = "123-456-7890"
s1.split('-')

['123', '456', '7890']

In [67]:
# join(): concatenate strings with the given delimiter

help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [68]:
'#'.join(['ab', 'pq', 'rs'])

'ab#pq#rs'

---
### string formatting - create nicer output in Python

In [69]:
# comma-separated style
print(1, 2.5, 'hello')

1 2.5 hello

In [70]:
# All the values are separated by blanks. 
# We can change the default value to an arbitrary string.
print(1, 2.5, 'hello', sep = '$')

1$2.5$hello

In [71]:
# c style / printf-style
name1 = 'alex'
name2 = 'bob'
print('Hello, %s' % name1)
print('Hello, %s. This is %s' % (name1, name2) )

Hello, alex
Hello, alex. This is bob

In [72]:
print('%0.3f is a float number'%11.2)

11.200 is a float number

In [73]:
# new format-style
name1 = 'alex'
name2 = 'bob'
print('Hello, {}. This is {}'.format(name1, name2))

Hello, alex. This is bob

In [74]:
# formatting the number
print('2.5 + 3.6 = {:0.3f}'.format(2.6 + 3.6))

2.5 + 3.6 = 6.200

In [75]:
# f-string for Python 3.6+
name1 = 'alex'
name2 = 'bob'
f'Hello, {name1}. This is {name2}'

'Hello, alex. This is bob'